body{
    --jy-black: rgb(29,29,31);
    --jy-white:#ffffff;
    --jy-cloudy-rgba:rgba(245, 245, 245, 1);
    --jy-dark-grey: #777777;
    --jy-shadow: 2px 0px 15px 0px rgba(0, 0, 0, 0.10);
    --jy-shadow-hover: 3px 0px 15px 0px rgba(0, 0, 0, 0.35);
    --jy-3d-box:scale3d(1.01,1.01,1.01);
    --jy-card-radius:1.25rem;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
#game {
    max-width: 300px;
    width: 100%;
}
.rules{
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}
.description-wrapper{
    margin: 0 auto;
    margin-bottom: 2rem;
}
.board-wrapper{
    border-radius: var(--jy-card-radius);
    overflow: hidden;
    margin-bottom: 1rem;

}
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    background-color: var(--jy-black);
}
 
.cell, .cell-r {
    background-color: var(--jy-cloudy-rgba);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: var(--jy-black);
    cursor: pointer;
}

.container-wrapper{
    position: relative;
    max-width: 1100px;
    width: 100%;
    margin:4rem auto;
}
.container{
    position: relative;
    margin: 0 auto;
    background-color: var(--jy-cloudy-rgba);
    border-radius: var(--jy-card-radius);
}
.container h1{
    font-family: 'Silkscreen', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.8rem;
    font-weight: 900;
    color:var(--jy-white);
    background-color: var(--jy-black);
    border-radius: 1.25rem 1.25rem 0 0;
    padding: 2rem;
    margin:0;
    text-align: center;
}
.gui-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 4rem  2rem;
}
.gui{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.gui input[type='color'] {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
}
.gui input[type='range']{
    max-width: 200px;
    width: 100%;
}
.gui .size-value{
    margin-top: 1rem;
    font-size: 1.2rem;
}
.gui .btn{
    border: 0;
    border-radius: 0.5rem;
    padding:1rem 0;
    width: 15rem;
    font-weight: 100;
    font-size:1.2rem;
    margin:1rem 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.gui .btn:hover{
    box-shadow: var(--jy-shadow-hover);
    transform: var(--jy-3d-box);
}
.active{
    background-color: var(--jy-dark-grey);
    color:var(--jy-white);
}

footer{
    text-align: center;
    font-size: 0.8rem;
    line-height: 2;
}